<h2>Address Book</h2>

<h4>Contact: </h4>

<% @list.each do |item| %>
  <h1><%= item.first_name %> <%= item.last_name %></h1>
  <p><%= item.address %></p>
  <p><%= item.city %>, <%= item.state %> <%= item.zip %></p>
<% end %>

<a href='/'>Add another contact.</a>
